@model IEnumerable<CityWeather>
@{
    ViewBag.Title = "Weather";
    string SetCssBackgroundColor(int temperature)
    {
        if (temperature > 74)
        {
            return "orange-back";
        }
        else
        {
            if (temperature > 44)
            {
                return "green-back";
            }
            else
            {
                return "blue-back";
            }
        }
    }
}

<div class="margin-top-200 margin-left">
    <div class="flex">
        @foreach (CityWeather city in Model)
        {
            <div class="box cursor-pointer w-30 @SetCssBackgroundColor(city.TemperatureFahrenheit)">
                <div class="flex-borderless">
                    <div class="w-50">
                        <h2>@city.CityName</h2>
                        <h4 class="text-dark-grey">@city.DateAndTime.ToString("hh:mm tt")</h4>
                        <a href="/weather/@city.CityUniqueCode" class="margin-top">Details</a>
                    </div>
                    <div class="w-50 border-left">
                        <h1 class="margin-left">@city.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
