@{
    // Layout = null;  // Default value of LayoutView
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>Contact support</p>

@section footer_section{
    <p>Contact Support : 0521457854</p>
}