@{
    //Layout = null;  // Default value of LayoutView
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<p>Welcome to home page</p>

@section script_one{
    <script src="~/script1.js"></script>
}