@{
    ViewBag.Title = "Admin Home";
}

<h3 class="margin-bottom" >Admin Home</h3>
<a asp-controller="Persons" asp-action="Index" asp-area="" class="button-link button-blue-back">Persons</a>
<a asp-controller="Home" asp-action="Details" asp-area="Admin" class="button-link button-blue-back">Details</a>
