
<div class="flex-1">
    <div class="text-grey">
        <span>Contacts</span>
        <i class="fa-solid fa-caret-right"></i>
        <span>@ViewBag.ControlerName</span>
        @if (ViewBag.ActionMethodName != null)
        {
            <i class="fa-solid fa-caret-right"></i>
            <span>@ViewBag.ActionMethodName</span>
        }
    </div>
</div>